.coming-soon-page {
	h1 {
		font-weight: 600;
		font-size: 36px;
		color: #333333;
		position: fixed;
		top: 25%;
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
	}

	.logo {
		position: fixed;
		top: 2%;
		left: 50%;
		width: 25%;
		min-width: 230px;
		object-fit: contain;
		transform: translateX(-50%);
		animation: logo 2s;
		animation-iteration-count: infinite;

		@keyframes logo {
			0% {
				opacity: 1;
			}
			50% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}
	}

	.bg, .bg-small {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		object-fit: contain;
	}

	.bg-small {
		display: none;
	}
}

@media (max-width: 1100px) {
	.coming-soon-page {
		.logo {
			top: 8%;
			width: 60%;
		}

		h1 {
			top: 40%;
			font-size: 45px;
		}
	}
}

@media (max-width: 600px) {
	.coming-soon-page {
		h1 {
			font-size: 30px;
		}
	}
}

@media (max-width: 450px) {
	.coming-soon-page {
		.bg {
			display: none;
		}

		h1 {
			top: 30%;
			font-size: 25px;
		}

		.bg-small {
			display: block;
		}
	}
}
