.header {
	width: 100%;
	height: 94px;
	margin-bottom: 60px;
	position: relative;
	z-index: 10000;

	.mobile {
		display: none;
	}

	&--floating {
		height: 0;
		margin-bottom: 0;
	}

	&--transparent {
		.header__content__wrapper {
			background: rgba(49, 51, 50, 0.55);
		}
	}

	&--white {
		background: white;
		height: 154px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}

	&__content {
		position: relative;
		width: 100%;
		height: 100%;
    padding-left: 140px;
    padding-right: 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&__wrapper {
			width: 100%;
			height: 50px;
			position: fixed;
			top: 0;
			left: 0;
			background: #313332;
			transition: background 1s ease;
		}
	}

	&__left {
		position: relative;
		height: 100%;
	}

	&__logo {
		width: 192px;
		height: 94px;
		position: absolute;
		top: 0;
		left: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__middle {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		ul {
			padding: 0;
			list-style-type: none;
			display: flex;

			li {
				margin: 0 35px;

				a {
					color: white;
					font-weight: 800;
					font-size: 16px;
					line-height: 100%;
					transition: color .2s ease;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
			    -webkit-transform: translateZ(0) scale(1.0, 1.0);
			    transform: translateZ(0) scale(1.0, 1.0);
			    font-smoothing: antialiased;
			    white-space: nowrap;

					&:hover, &.active {
						color: $color-yellow;
					}
				}
			}
		}
	}

	&__right {
		display: flex;
		align-items: center;
	}

	&__search {
		margin-right: 40px;

		&__button {
			z-index: 1;
			position: relative;
		}

		&__outer {
			position: absolute;
			top: -5px;
			right: -13px;
		}

		&__inner {
			overflow: hidden;
			width: 0;
			height: 37px;
			transition: width .2s ease;
			display: flex;
			justify-content: flex-end;

			&.active {
				width: 300px;
			}
		}

		&__wrapper {
			background: white;
			border-radius: 10px;
			width: 300px;
			height: 37px;

			padding: 5px 50px 5px 13px;
			@include flex-center;

			input {
				width: 100%;
				font-size: 16px;
				border: none;
				outline: none;
			}
		}
	}

	&__cart {
		margin-right: 40px;

		&__title {
			text-align: center;
			margin-bottom: 10px;
			color: #333333;
			font-weight: 500;
			font-size: 18px;
			line-height: 18px;
		}

		&__line {
			width: 260px;
			height: 1px;
			background: #333333;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 20px;
		}

		&__button {
			z-index: 3;
			position: relative;
		}

		&__outer {
			position: absolute;
			top: -5px;
			right: -5px;
			overflow: hidden;
			width: 300px;
			height: 300px;
			border-radius: 18px;
			z-index: -1;

			&.active {
				z-index: 1;

				.header__cart__inner {
					transform: translate(0,0);
				}
			}
		}

		&__inner {
			max-width: 300px;
			min-width: 300px;
			min-height: 300px;
			max-height: 300px;
			overflow: hidden;
			transform-origin: top right;
			transition: transform .2s ease;
			transform: translate(100%, -100%);
		}

		&__wrapper {
			background: white;
			border-radius: 18px;
			padding-top: 10px;
			min-height: 300px;
			max-height: 300px;
			display: flex;
			flex-direction: column;
		}

		&__order {
			background: #333333;
			text-align: center;
			color: #FFCC00;
			font-size: 17px;
			line-height: 100%;
			border-radius: 0 0 18px 18px;
			width: 100%;
			min-height: 40px;
			max-height: 40px;
		}

		&__content {
			padding-left: 15px;
			padding-right: 15px;
	    margin-bottom: auto;
	    overflow-y: auto;
	    margin-bottom: 20px;
	    -webkit-transform: translate3d(0,0,0);
	    -webkit-overflow-scrolling: touch;
		}

		&__item {
			display: flex;
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			&__title {
				font-size: 14px;
				line-height: 100%;
				color: #333333;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				width: 100%;
			}

			&__amount {
				display: flex;
				justify-content: space-between;

				button, input {
					height: 20px;
					padding: 2px 10px;
					font-size: 14px;
					line-height: 100%;
					color: #333333;
					border-radius: 69px;
					border: 0.5px solid #FFCC00;
				}

				button {
					background: #FFD31F;
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						width: 9px;
						object-fit: cover;
					}
				}

				input {
					min-width: 0;
					max-width: unset;
					text-align: center;
					background: #FFFFFF;
					margin: 0 4px;

					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
					  -webkit-appearance: none;
					  margin: 0;
					}

					&[type=number] {
					  -moz-appearance: textfield;
					}
				}
			}

			&__left {
				margin-right: 10px;

				img {
					width: 40px;
					height: 40px;
					object-fit: cover;
				}
			}

			&__middle {
				margin-right: 10px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 100%;
				min-width: 0;
			}

			&__right {
				display: flex;
				align-items: center;
			}

			&__price {
				background: #FFCC00;
				border-radius: 64px;
				color: #333333;
				font-size: 14px;
				line-height: 100%;
				padding: 4px 8px;
			}
		}
	}

	&__langs {
		&__outer {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}

		&__inner {
			width: 0;
			height: 27px;
			display: flex;
			justify-content: flex-end;
			overflow: hidden;
			transition: width .2s ease;

			&.active {
				width: 120px;
			}
		}

		&__wrapper {
			display: flex;
		}

		&__item {
			margin-right: 6px;
			background: white;
			width: 36px;
			height: 27px;
			font-weight: 600;
			font-size: 16px;
			line-height: 27px;
			text-align: center;
			color: #322E2E;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&__search, &__cart {
		transition: transform .2s ease;

		&.aside {
			transform: translateX(-80px);
		}
	}

	&__search, &__langs, &__cart {
		height: 27px;
		position: relative;
		
		&__button {
			width: 27px;
			height: 27px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

@media (max-width: 1200px) {
	.header {
		&__content {
			padding-left: 40px;
		}
	}
}

@media (max-width: 1000px) {
	.header {
		&__content {
			padding-left: 15px;
			padding-right: 15px;
		}

		&__logo {
			left: 50%;
			transform: translateX(-50%);
			transition: transform .2s ease;

			&.active {
				transform: translate(-50%, -100%);
			}
		}

		&__cart, &__search {
			margin-right: 20px;
		}

		&__left {
			&.mobile {
				display: flex;
				align-items: center;
			}
		}

		&__middle {
			&.mobile {
				display: block;
				height: 100%;
			}
		}

		&__mobile {
			&__bg {
				z-index: 10;
				position: fixed;
				opacity: 0;
				display: none;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				transition: opacity .2s ease;
				background: $color-dark;

				&.active {
					display: block;
				}

				&.visible {
					opacity: .5;
				}
			}

			&__menu {
				z-index: 11;
				position: fixed;
				top: 0;
				left: 0;
				transform: translateX(-100%);
				transition: transform .2s ease;

				&.active {
					transform: translateX(0);
				}

				&__button {
					width: 39px;
					height: 18px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				&__logo {
					background: white;
					border-radius: 0 35px 0 0;

					a {
						padding: 55px 75px;
						display: block;
					}

					&__side {
						display: none;
					}
				}

				&__close {
					width: 70px;
					height: 100%;
					@include flex-center;
					background: $color-yellow;
					border-radius: 0 0 35px 0;

					img {
						width: 38px;
						height: 21px;
					}
				}

				&__content {
					display: flex;
					height: 540px;

					ul {
						width: 100%;
						padding: 20px 0;
						background: $color-dark;
						overflow-y: auto;
						max-height: calc(100vh - 180px);

						li {
							a {
								display: block;
								width: 100%;
								padding: 40px 70px;
								font-weight: 800;
								font-size: 27px;
								line-height: 45px;
								text-align: center;
								color: #FFFFFF;
								text-align: center;

								&.active {
									color: $color-yellow;
									text-shadow: 0px 0px 2px rgba(255, 204, 0, 0.81);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.header {
		margin-bottom: 20px;

		&__logo {
			width: 135px;
			height: 68px;
		}

		&__mobile {
			&__menu {
				&__logo {
					display: flex;
					justify-content: space-between;

					a {
				    padding: 55px 35px;
					}

					&__side {
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						padding: 30px;

						&__cart {
							width: 40px;
							height: 40px;

							img {
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}
				}
			}
		}

		&__middle {
			&.mobile {
		    width: 135px;
		    height: 68px;
		    top: 0;
		    transform: translate(-50%, 0);
			}
		}

		&__cart, &__langs {
			&__button {
				width: 40px;
				height: 40px;
			}
		}

		&__cart, &__search {
			&.aside {
				transform: none;
			}
		}

		&__cart {
	    position: fixed;
	    z-index: 20;
	    top: 5px;
	    right: 5px;
	    bottom: 0;
	    margin: 0;
    	transition: transform .2s ease;
    	transform: translateY(-100vh) !important;

	    &.active {
    		transform: translateY(0) !important;

    		.header__cart__outer__bg {
    			opacity: 1;
    		}
	    }

	    &__order {
	    	border-radius: 0;
	    }

	    &__outer {
	    	width: 100vw;
    		height: 100vh;
    		border-radius: 0;
    		position: fixed;
		    top: -5px;
		    right: -5px;
		    bottom: 0;

		    &__bg {
		    	background: rgba(0,0,0,.5);
		    	position: fixed;
		    	opacity: 0;
		    	top: 0;
		    	width: 100vw;
		    	height: 100vh;
		    	transition: opacity .2s ease;
		    }
	    }

	    &__line {
	    	width: calc(100% - 40px);
	    }

	    &__inner {
	    	max-width: 100vw;
		    max-height: calc(100vh - 100px);
		    height: 100%;
		    transform: translate(0, 0);
		    z-index: 1;
		    position: relative;
	    }

	    &__wrapper {
	    	max-height: calc(100vh - 100px);
  			height: 100%;
  			border-radius: 0;
  			padding-top: 25px;
	    }

	    &__content {
	    	height: 100%;
	    }

	    &__item {
	    	&__amount {
	    		justify-content: center;
	    	}
	    }
		}

		&__langs {
			z-index: 1;
			height: 40px;

			&__inner {
				height: 40px;

				&.active {
			    width: 150px;
				}
			}

			&__item {
				background: $color-yellow;
				width: 45px;
				height: 40px;
			}
		}

		&__search {
			margin-right: 0;

			&__outer {
				right: -11px;
			}

			&__wrapper {
				border-radius: 25px;
			}
		}
	}
}

@media (max-width: 400px) {
	.header {
		&__mobile {
			&__menu {
				width: 100%;
				transform: translateY(-100%);

				&.active {
					transform: translateY(0);
				}

				&__close {
					width: 100%;
					height: 70px;
					border-radius: 0 0 35px 35px;

					img {
						transform: rotate(90deg);
						width: 21px;
						height: 38px;
					}
				}

				&__logo {
					border-radius: 0 0 35px 35px;
					margin-bottom: -35px;
					z-index: 1;
					position: relative;

					a {
						padding: 30px 0 30px 50px;
					}

					&__side {
						padding: 20px;
					}
				}

				&__content {
					flex-direction: column;
					height: unset;

					ul {
						padding-top: 55px;
						max-height: calc(100vh - 196px);

						li {
							a {
								padding: 12px 0;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 365px) {
	.header {
		&__search {
			&__wrapper, &__inner.active {
				width: 250px;
			}
		}
	}
}

body.touch {
	.header {
		.header__middle ul li a:hover {
			color: white !important;
		}
	}
}
