.index-page {
	&__welcome {
		width: 100%;
		height: 100vh;
		position: relative;
		margin-bottom: 40px;

		&__bg {
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__bottom {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			justify-content: center;
			align-items: flex-end;
			z-index: 2;
			width: 100%;

			&__item {
				white-space: nowrap;
				width: 24%;
				height: 43px;
				min-width: fit-content;
				padding: 0 24px;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: white;
				@include flex-center;
				text-align: center;
				background: rgba(51, 51, 51, 0.65);
				margin-right: 10px;
				cursor: pointer;

				&:last-of-type {
					margin-right: 0;
				}

				&.active, &:hover {
					height: 62px;
					padding: 0 24px;
					background: rgba(255, 204, 0, 0.9);
					color: #333333;
				}
			}
		}
	}

	&__product-showcase {
		margin-bottom: 110px;

		&__card {
			width: 100%;
			padding: 32px 20px 26px 20px;
			@include flex-center;
			background: #FFFFFF;
			box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);

			&__content {
				margin: -30px;
				display: flex;
			}

			&__item {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin: 30px;

				&__icon {
					width: 84px;
					height: 84px;
					margin-bottom: 5px;
					border: 1px solid #DDDDDD;
					border-radius: 50%;
					@include flex-center;

					img {
						height: 43px;
						object-fit: contain;
					}
				}

				span {
					display: block;
					font-size: 16px;
					line-height: 27px;
					color: #252525;
					text-align: center;
				}
			}
		}
	}

	&__product-slider {
		margin-bottom: 100px;
		position: relative;

		&__arrow {
			&-left, &-right {
				position: absolute;
				top: 50%;
				height: 124px;

				img {
					height: 100%;
				}
			}

			&-left {
				left: 0;
				transform: translateY(-50%) scaleX(-1);
			}

			&-right {
				right: 0;
				transform: translateY(-50%);
			}
		}

		&__top {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 30px;

			&__item {
				color: #838383;
				font-weight: bold;
				font-size: 28px;
				line-height: 47px;
				transition: color .2s ease;
				cursor: pointer;

				&.active, &:hover {
					color: #252525;
				}

				&.active {
					cursor: default;
				}
			}
		}

		&__middle {
			margin-bottom: 30px;

			.swiper-container {
				padding-left: 5px;
				padding-right: 5px;
				margin: 0 -5px;
				padding-bottom: 12px;
			}

			.swiper-slide {
				display: flex;
			}
		}

		&__card {
			background: white;
			position: relative;
			padding: 15px;
			cursor: pointer;

			&:hover {
				box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
			}

			.editors-choice {
				position: absolute;
				top: -19px;
    		right: -18px;
			}

			.pic {
				display: flex;
				justify-content: center;
				margin-bottom: 30px;
			}

			.info {
				.top {
					margin-bottom: 10px;
					display: flex;

					span {
						font-weight: 300;
						font-size: 16px;
						line-height: 27px;
						color: #333333;
					}

					.stars {
						display: flex;

						img {
							margin-right: 3px;

							&:last-of-type {
								margin-right: 0;
							}
						}
					}
				}

				.title {
					font-size: 15px;
					line-height: 25px;
					color: #333333;
					margin-bottom: 3px;
				}

				.description {
					font-size: 13px;
					line-height: 22px;
					color: #6C6B6B;
				}
			}
		}

		&__bottom {
			width: 100%;
			display: flex;
			justify-content: center;

			a {
				max-width: 260px;
				width: 100%;
				background: white;
				border-radius: 50px;
				padding: 5px 0;
				color: black;
				transition: color .2s ease;
				font-weight: 500;
				font-size: 16px;
				line-height: 27px;
				text-align: center;

				&:hover {
					color: $color-yellow;
				}
			}
		}
	}

	&__banners {
		margin-bottom: 200px;
		background: white;
		box-shadow: inset 0px 0px 13px rgba(0, 0, 0, 0.3);
		
		.content {
			padding: 70px 150px;
			display: grid;
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}

		img {
			width: 100%;
			object-fit: contain;
		}

		.how {
			height: 100%;
			grid-row-start: 1;
			grid-row-end: 3;
		}

		.apple {
			grid-row-start: 1;
			grid-row-end: 2;
		}

		.smart {
			grid-row-start: 2;
			grid-row-end: 3;
		}
	}

	&__video-slider {
		margin-bottom: 170px;

		.channel-button {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-bottom: 50px;

			button {
				background: white;
				box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				border-radius: 150px;
				padding: 8px 75px;
			}
		}
	}
}
