html {
  overflow-x: hidden;
}

html,
body,
#__nuxt,
#__layout,
#content {
  background: #EDEDED;
  font-family: Work Sans;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

input {
  &::-ms-clear {
    display: none;
  }
}

button {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.h-line {
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 100%;

  &--page {
    padding-left: 80px;
    padding-right: 80px;
  }
}
